
body{

    width: 100%;
    height: 120vh;

    background-color: #101010;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    flex-direction: column;

}

/*Menu e logo*/
header{
width: 100%;


background-color: #1a1a1a;
padding: 7px 10px;

position: fixed;
top: 0;
z-index: 999;
}


.navbar{
max-width: 1200px;
margin: 0 auto;

padding: 0 20px ;

display: flex;
justify-content: space-between;
align-items: center;
}

.logo{
width: 50px;
height: 50px;
background-color: #55555500;
border-radius: 10px;
text-align: center;

a {
    color: #fff;
    text-decoration: none;
  }
}

.hamburguer{
width: 35px;
height: 35px;

background-color: transparent;
border-radius: 5px;
border: 0;

position: relative;
cursor: pointer;

display: none;
}


.hamburguer:after {
    content: '';
    
    
    position: absolute;
    top: 35%;
    left: 15%;
    
    width: 70%;
    height: 9%;
    border-radius: 10px;
    
    background-color: #fff;
    
    transition: 1s ease;
    
    }
    
    .hamburguer:before {
    content: '';
    
    
    position: absolute;
    top: 60%;
    left: 45%;
    
    width: 40%;
    height: 10%;
    border-radius: 10px;
    
    background-color: #4c0277;
    transition: 1s ease;
    }

#hamburguer:checked ~ label .hamburguer::after{
    transform: rotate(720deg);
    top: 70%;
    left: 15%;
    }
    
    #hamburguer:checked ~ label .hamburguer::before{
    transform: rotate(-180deg);
    
    width: 70%;
    height: 10%;
    
    top: 45%;
    left: 15%;
    
    }

.menu{

list-style: none;


display: flex;
align-items: center;

li{
    margin-left: 10px;

    a{
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: #fff;
        transition: 0.5s ease;
        &:hover{
            color: #fff;
        }
    }
}
}
/*Final do Menu e logo*/
/*Responsividade mobile*/
@media screen and (max-width: 980px){
.hamburguer {
    display: block;
    z-index: 999;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;


    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;

    width:100% ;
    max-width: 100px;

    padding: 100px 20px;

    flex-direction: column;
    transition: 0.5s ease;
}

.menu.active{
    right: -100%;

}

}
/*Final da Responsividade mobile*/

/*Seleção*/
.qsomos{
max-width: 1000px;  

text-align: center;
margin: 20vh 100px;

.card-image{
    width: 300px;
    height: 300px;
    border-radius: 100px ;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;   
}
.card-text{
    text-align: center;
    color: #fff;
}

}
/*Final da Seleção*/

/*whatsapp*/

.whats{ position: fixed; bottom: 10px; right:10px; z-index: 9999;}
/*Final do whatsapp*/

/* Roda-pé */

#rodape {
    width: 100%;
    height: auto;
    background-color: #1a1a1a;
    background-size: 100%;
    color: #eee;
    padding: auto;
    text-align: center;
    margin-block-start: auto;

    
}
/* Final Roda-pé */
