@charset "UTF-8";
/*
body  *{

    box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.514);
}   
*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0px 0px;
  right: 10px;
  width: 100%;
  height: auto;
  flex-direction: column;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Menu e logo*/
header {
  width: 100%;
  background-color: #f5f5f5;
  background-color: rgba(44, 43, 43, 0.2588235294);
  padding: 5px 10px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: rgba(85, 85, 85, 0);
  border-radius: 10px;
  text-align: center;
}
.logo a {
  color: #fff;
  text-decoration: none;
}

.hamburguer {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  position: relative;
  cursor: pointer;
  display: none;
}

.hamburguer:after {
  content: "";
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 10%;
  border-radius: 10px;
  background-color: #fff;
  transition: 1s ease;
}

.hamburguer:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 45%;
  width: 40%;
  height: 10%;
  border-radius: 10px;
  background-color: #00f7ff;
  transition: 1s ease;
}

#hamburguer:checked ~ label .hamburguer::after {
  transform: rotate(720deg);
  top: 70%;
  left: 15%;
}

#hamburguer:checked ~ label .hamburguer::before {
  transform: rotate(-180deg);
  width: 70%;
  height: 10%;
  top: 45%;
  left: 15%;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu li {
  margin-left: 10px;
}
.menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #00f7ff;
  transition: 0.5s ease;
}
.menu li a:hover {
  color: #fff;
}

/*Final do Menu e logo*/
/*Responsividade mobile*/
@media screen and (max-width: 980px) {
  .hamburguer {
    display: block;
    z-index: 999;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    background-color: rgba(44, 43, 43, 0.2588235294);
    width: 100%;
    max-width: 100px;
    padding: 100px 20px;
    flex-direction: column;
    transition: 0.5s ease;
  }
  .menu.active {
    right: -100%;
  }
}
/*Final da Responsividade mobile*/
/*Seleção*/
.header-content {
  max-width: auto;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 18px;
  color: #00f7ff;
  text-align: center;
  margin: 40vh 100px;
}
.header-content h1 {
  color: #fff;
}

/*Final da Seleção*/
/*Seleção*/
.qsomos {
  max-width: auto;
  background-color: rgba(44, 43, 43, 0);
  border-radius: 18px;
  text-align: center;
  margin: 40vh 100px;
}
.qsomos .card-image {
  width: 350px;
  height: 350px;
  border-radius: 100px;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: center;
}
.qsomos .card-text {
  text-align: center;
  color: #00f7ff;
}
.qsomos h1 {
  color: #ffffff;
}

/*Final da Seleção*/
/*Seleção*/
.service1 {
  max-width: auto;
  margin: 10vh auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 18px;
  grid-template-columns: 0fr 2fr 4fr;
  /*botão*/
}
.service1 .card-image {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: center;
}
.service1 .card-text {
  text-align: center;
  color: #00f7ff;
}
.service1 .btn {
  border-radius: 80px;
  padding: 5px 5px;
  background-color: #00f7ff;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.5s;
}
.service1 .btn:hover {
  border-radius: 80px;
}
.service1 h1 {
  color: #ffffff;
}

.service2 {
  max-width: auto;
  margin: 10vh auto;
  text-align: center;
  background-color: rgba(26, 26, 26, 0);
  border-radius: 18px;
  /*botão*/
}
.service2 .card-image {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: center;
}
.service2 .card-text {
  text-align: center;
  color: #00f7ff;
}
.service2 .btn {
  border-radius: 80px;
  padding: 5px 5px;
  background-color: #00f7ff;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.5s;
}
.service2 .btn:hover {
  border-radius: 80px;
}
.service2 h1 {
  color: #ffffff;
}

/*Final da Seleção*/
/*whatsapp*/
.whats {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  display: grid;
}

/*Final do whatsapp*/
/* Roda-pé */
#rodape {
  width: 100%;
  height: auto;
  background-color: rgba(44, 43, 43, 0.2588235294);
  background-size: 100%;
  color: #ffffff;
  padding: auto;
  text-align: center;
  -webkit-margin-before: auto;
          margin-block-start: auto;
}

/* Final Roda-pé *//*# sourceMappingURL=style.css.map */